.cellphone{
    height: 300px;
    margin: 2%;
}

.play{
    display: block;
    margin: 10px 0px 0;
}

p {
    padding: 0;
    margin: 0px 0px 0;
}
.bg-success {
    background-color: #00BCD4!important;
}
.bg-info {
    background-color: #0f6e96!important;
}
.bg-warning {
    background-color: #063143!important;
}
.bg-danger {
    background-color: #031019!important;
}